.information{

    width: 40vw;
    padding: 2rem;
    backdrop-filter: blur(5px);
    box-shadow: 0 0 15px rgba(0,0,0,0.7);
    border-radius: 2rem;
}
.information h1{
    background: rgba(255,255,255,0.8);
    text-align: center;
    width: 100%;
    overflow-wrap: break-word;
    font-size: min(5vw, 1.6rem);
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    margin: 0 0;
}
.text-information{
    width: 100%;
    background: rgba(255,255,255,0.7);
    text-align: justify;
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
    margin-top: 1rem;
    padding: 0.5rem;
}
.text-information ul{
    padding-left: 1rem;
}
.text-information p{
    margin: 1rem auto;
    overflow-wrap: break-word;
}
.text-information li b{
    overflow-wrap: break-word;
}