<!-- current_user.is_authenticated -->
<div class="navigation">
		<header class="menu-header">
			<h1>Smart Market</h1>
			<div class="crop-img">
				with <img src="static/asserts/flask-icon.svg" alt="flask icon">
			</div>
		</header>
	 <div class="menu-links">
		 <a href="{{url_for('main.home')}}"><span>Home</span></a>
		 <a href="#"><span>Products</span></a>
		 <a href="#"><span>Edit</span></a>
		 <a href="{{url_for('main.about')}}"><span>About</span></a>
		 <a href="{{url_for('main.login')}}"><span>Login</span></a>
		 <a href="{{url_for('main.logout')}}"><span>Logout</span></a>
	 </div>
</div>